/*common*/
body {
    background-color: lightblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.info {
    font-size: 20px;
    background-color: rgb(255, 218, 149);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: gray;
}

/*home*/

#comparison {
    margin: auto;
    width: 20%;
}

#comparison table, th, td{
    border: 2px solid black;
    text-align: center;
    padding: 2px;
    background-color: white;
}

.good {
    background-color: rgb(24, 177, 24);
}

.bad {
    background-color: rgb(255, 44, 44);
}

/*inventory*/
.item {
    border-bottom: 2.5px solid black;
    border-right: 2.5px solid black;
    border-left: 2.5px solid black;
    text-align: left;
    float: left;
    width: 75%;
    margin-left: 12%;
}

.item-details {
    width: 50%;
    display: inline-block;
    margin-left: 50px;
}

.item img{
    margin: 0px 0px 40px 100px;
    width: 224px;
    height: 112px;
    object-fit: cover;
    border: 2.5px solid black;
}

.item-title {
    margin: 0;
    padding: 10px 0 0 0;
    text-align: center;
}

/*order*/
#orderinf {
    text-align: center;
}

#order-form {
    font-size: 20px;
    text-align: center;
}